.titulo-principal{
    padding-left: 30px; /* Hacer un espacoio a la izquiera del elelemto*/
} 

#banner {
width: 100%;
}

.principal {
    background:silver;
    padding: 20px; /* Es el espaciamiento interno*/
}
.titulo-cantralizado {
    text-align: center;
    background: wheat;
}
p {
    text-align:center;
    background:darkcyan;
}


em strong {
    color: white;
}

#mission {
    font-size: 20px;
}

.diferenciales {
    background: white;
    padding: 30px;
}


.items {
   font-style:italic; 
}

ul {
    display: inline-block;  /* Para que la lista ocupe solo su linea y pertmita gestionar los demás espacios*/
    vertical-align: top; /* ubicación del elemento*/
    width: 20%;
    margin-right: 10%;
}
.imagenDiferenciales {
    width: 50%;
}